<!DOCTYPE html>
<html>
<head>
    <title>JAAR Info</title>
</head>
<body>
    <h1>Joe Acosta Information</h1>

    <h2>Personal Statement:</h2>
    <p>I'm currently working towards my Bachelors of Software Development at Columbia Basin College. I'm hoping to finish my degree by winter 2026. Afterwords, I'm going to try to get a few certificates afterwards. I hope to get an AWS certificate, Azure certificate, kubernetes certificate, etc. While I work towards my degree, I also hope to get a few internship opportunities. It might be hard since I'm overloading at minimum 1 class and taking a full course load in the summer. Even still, I hope that this can help get me ready for the work force.</p>
    <p>Outside of my studies, I'm traveling. Thus far, I've been traveling since this quarter started and I intend to keep my travels until at least August of this year. I also hope to pick up more hobbies though this will require me to set more time aside. Either way, I'm optimistic about my personal and professional future.</p>

    <h2>Education: </h2>
    <p>My academic career started in the military where I was trained as a Financial Technician (MOS 3432) in the Marine Corps. Afterwords, I was motivated to return to college where I began the arduous task of working towards a Pharm D.</p>
    <p>After a few years of working towards a Pharm D at Columbia Basin College (and later the University of Washington) I changed my academic career path. I wasn't sure where I'd start my career as a software developer though I ultimately decided to return to Columbia Basin College.</p>

    <h2>Work History: </h2>
    <p>My work history consist primarily of my four years in the military as well as a year at the Tuition Center of Columbia Basin College. Afterwords, I dedicated myself to my (then) academic career of becoming a pharmacist.</p>

    <h2>Contact: </h2>
    <p>Email: JAAcosta@uw.edu</p>
</body>
</html>
